# فایل پیش‌فرض
*                    @artgalleryma2ta

# بک‌اند
/backend/            @artgalleryma2ta
*.go                @artgalleryma2ta

# فرانت‌اند
/frontend/          @artgalleryma2ta
*.js                @artgalleryma2ta
*.svelte            @artgalleryma2ta

# موبایل
/mobile/            @artgalleryma2ta
*.dart              @artgalleryma2ta

# داکر و دیپلویمنت
Dockerfile          @artgalleryma2ta
docker-compose.yml  @artgalleryma2ta